
* {
    box-sizing: border-box;
    font-family:Arial;
    color: #777;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.header {
    background-color: navy;
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 60px;
    margin-bottom: 1em;
}

.logo {
    padding-top: 1em;
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "Arial";
    font-weight: normal;
    color: white;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.store{
    font-family: "Arial";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.button {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.buttons{
    color: white;
    background-color:cornflowerblue;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.buttons:hover {
    background-color: cadetblue;
}

.shop-item {
    margin: 30px;
}

.itemName {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.pix {
    height: 250px;
    width: 250px
}

.details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.itemPrice {
    flex-grow: 1;
    color: #333;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.row {
    display: flex;
}

.cartItem {
    width: 45%;
}

.cartPrice {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cartQuantity {
    width: 35%;
}

.cartName {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.itemPic {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: rosybrown;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.quantityVal {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid cornflowerblue;
    text-align: center;
    font-size: 1.2em;
    margin-right: 10px;
    margin-left: 50px;
}

.total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.totalPrice{
    color: #333;
    font-size: 1.1em;
}

.purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

input::placeholder {
    text-align: center;
}

.purchase{
    text-align: center;
}