.dropbtn {
    background-color: white;
    color:black;
    padding: 10px 45px 10px 45px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    padding: 10px 25px 10px 25px;
    border: none;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  body {
    margin: 0;
    font-size: larger;
    background-color: whitesmoke;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .card {
    float: right;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    font-family: arial;
    margin-top: 50px;
    margin-right: 75px;
    display: none;
  }
  
  .price {
    color:red;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  
  .show {
    display: block;
  }
  .container {
    float: right;
    margin-top: 20px;
    overflow: hidden;
  }
  
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }
  p {
    color:black;
    font-size: larger;
    text-align: center;
  }

  input {
      margin-left: 47%;
  }

  h1 {
      
      font-size: 75px;
      text-align: center;
      color: midnightblue;
      font-family: Arial, Helvetica, sans-serif;
  }

  h2 {
      font-size: 40px;
  }

  h3 {
      font-size: 30px;
      color: black;
      margin-left: 10px;
      text-align: center;
  }

  .pix {
  width: 250px; 
  height: 250px;
  margin-left: 0%;
  margin-bottom: 2px;
  }

  img {
      height: 500px;
      width: 500px;
      margin-left: 30%;
      margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: gainsboro;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  li a {
    display: block;
    color: black;
    padding: 14px 22px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: slateblue;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: grey;
    color: white;
  }

  .mycart {
    grid-area: mycart;
    margin-left: 10%;
  }

  .shipping {
    grid-area: shipping;
    margin-left: 10%;
  }

  .personal {
    grid-area: personal;
    margin-left: 10%;
  }

  main {
    display: grid;
    grid-template-areas:
      'mycart  '
      'shipping '
      'personal';
    gap: 20px;
  }

  .first_fieldset>label {
    float: none;
    width: 20ch;
    text-align: right;
  }

  .first_fieldset>input {
    margin-left: 0.5em;
    margin-bottom: 0.5em;
  }

  .second_fieldset>label {
    float: left;
    width: 20ch;
    text-align: left;
  }

  .second_fieldset>input {
    margin-left: 0.5em;
    margin-bottom: 0.5em;
  }

  .third_fieldset>label {
    float: left;
    width: 20ch;
    text-align: right;
  }

  .third_fieldset>input {
    margin-left: 0.5em;
    margin-bottom: 0.5em;
  }
  table{
    table-layout: fixed;
    width: 100%;
  }

  th{
    width: 25%;
  }

  td{
    text-align: center;
    align-items: center;
  }

  .center-block {
    margin: auto;
    display: block;
  }
  h2{
    margin-left: 0%;
  }

  img.accessory{
    width: 150px;
    height: 150px;
    padding-bottom: 10px;
    margin: auto;
    display: block;
  }

  div.accessory{
    margin-left: 10%;
  }
  body {
    margin: 0;
    font-size: larger;
    background-color: whitesmoke;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .card {
    float: right;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    font-family: arial;
    margin-top: 50px;
    margin-right: 85px;
    display: none;
  }
  
  .price {
    color:red;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  
  .show {
    display: block;
  }
  .container {
    float: left;
    margin-top: 20px;
    overflow: hidden;
  }
  
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color:white;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  
  p {
    color:black;
    font-size: larger;
    text-align: center;
  }

  input {
      margin-left: 47%;
  }

 
  .pix {
  width: 250px; 
  height: 250px;
  margin-left: 0%;
  margin-bottom: 2px;
  }
.banner {
    float:left;
    width: 100%;
    display: block;
    height: 150px;
}
.banner > .pic {
    float:left;
    width: 100%;
    display: block;
    height:150px;
}
 